html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: gray;
}

a:hover{
  color:rgb(208,129,72) ;
  transition:0.3s;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
li{
  list-style: none;
}
*{
  box-sizing: border-box;
}

/* ================================ */

.container{
  margin: 0 3%;    
  text-align: center;
  color: #666666;;
}

.logoimg{
  width: 400px;
  margin: 35px;
}

.mainimg{
  width: 100%;
  border-radius: 10px;
}

nav li{
  font-size: 18px;
  display: inline-block;
  margin: 20px 0;
}

nav li a{
  text-decoration: none;
  padding:20px 30px;
  display: block;
  border-bottom: 4px solid white;
}

nav li a:hover{
  border-bottom: 4px solid;
}

section{
  text-align: left;
  line-height: 2em;
  color:gray;
}
.s-title, .s-subtitle {
  border-radius: 10px;
  padding: 0.8em 1em;
  font-weight: normal;
}

.s-title{
  background-color: rgb(208,129,72);
  color:white;  
  margin:1em 0;
}
.s-subtitle{
  border:1px solid #ccc;
}
.s-contents{
  padding: 1em;
}

dt{
  float: left;
}

dd{
  display: flex;
  padding-left: 2em;
}

.s-id{
  color: rgb(208,129,72);
  font-weight: normal;
}
.s-color{
  background: #E5E5E5;
  padding: 5px 10px;
}

/*-------- abou / link table --------*/
table{
  width: 100%;
}

table td, th{
  border-collapse: collapse;
  border:1px solid gray;
  padding: 10px;
  font-weight: normal;
  vertical-align: middle;
  }

table th{
  color:#666666;
  background-color:#EEEEEE ;
}

.index{
  text-align: center;
  width: 30%;
}

.t-mainimg{
  width: 95%;
}
/*------------------------------*/
/*-------- gallery list --------*/
.list img{
  width: 20%;
  float: left;
  margin-right:20px;
}

.list{
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding :20px 0;
}
/*------------------------------*/



footer{
  line-height: 2em;
  font-size: 13px;
  margin: 20px 0;
}

footer a{
  text-decoration: none;
}
